#head1{
    background-color: green;
    color: ivory;
}

.form-check{
    padding-left: 80px;
    border: solid black 0.5px;
    background-color:lightyellow
}

#submit{
    width: 150px;
    height: 50px;
    background-color: green;
    color: ivory;
    font-size: 25;
    font-weight: bolder;
}

p{
    font-size: 25;
}

h1{
    font-size: 30;
    background-color: lightblue;
    padding-left: 80px;
}

#head1{
    font-size: 40;
}

#outtime{
    height: 20px;
    width:100%;
    border: solid black 1px;
}

#time{
    height: 20px;
    width:100%;
    background-color: red;
    display: none;
}
